player-connection-mode=Listen
player-connection-guid=1371542296
player-connection-debug=0
player-connection-project-name=Romanchuk_Planetarny_Reductor
player-connection-ip=10.168.48.123
player-connection-ip=100.127.255.249
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=8276dd022f0f4b0889e47f34a0c05017
